image: node:12.21.0
before_script:
  - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
  - eval $(ssh-agent -s)
  - mkdir -p ~/.ssh
  - touch ~/.ssh/known_hosts
  - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
develop_deploy:
  only:
    - dev
  script:
    - npm install
    - CI=false npm run build
    - tar -czvf ./frontend_deploy.tar.gz ./build --exclude=".git"
    - ssh-keyscan -t rsa $DEV_IP >> ~/.ssh/known_hosts
    - ssh-add <(echo "$DEV_PRIVATE_KEY")
    - ssh $DEVELOPER@$DEV_IP "rm -rf $DEV_PATH/*"
    - scp ./frontend_deploy.tar.gz $DEVELOPER@$DEV_IP:$DEV_PATH/.
    - rm -f ./frontend_deploy.tar.gz
    - ssh $DEVELOPER@$DEV_IP "tar -xzvf $DEV_PATH/frontend_deploy.tar.gz -C $DEV_PATH/."
    - ssh $DEVELOPER@$DEV_IP "rm -f $DEV_PATH/frontend_deploy.tar.gz"
    - ssh $DEVELOPER@$DEV_IP "mv $DEV_PATH/build/* $DEV_PATH/."
    - ssh $DEVELOPER@$DEV_IP "rm -rf $DEV_PATH/build"
    - echo "-Fin-"
